.hero-sec {
  display: flex;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .hero-article {
    p {
      margin-top: 2rem;
      max-width: 554px;
    }
    flex-basis: 100%;
    padding-top: 2rem;

    @media (min-width: 992px) {
      padding-top: 4rem;
    }
    @media (min-width: 1200px) {
      padding-top: 6rem;
    }
  }

  .hero-img {
    flex-basis: 100%;

    img {
      max-width: 100%;
    }
  }
  .img-para {
    display: flex !important;
    align-items: center;
    gap: 1em;

    img {
      width: 181px !important;
      height: 38px;
    }
    p {
      height: 38px;
      font-size: 12px;
    }
  }
  .hero-form {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-top: 2rem;

    input {
      background-color: $input-color;
      max-width: 456px;
      height: 73px;
      flex-wrap: 1;
      outline: none;
      border: none;
      padding: 1em 2em;
      font-size: $md-fs;
    }
    .submit-btn {
      background-color: $button-color;
      border-radius: 5px 0px 0px 5px;
      transition: all 200ms;
      width: 174px;
      height: 73px;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }
}

.hero-images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 0;

  #hero-images-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  img {
    object-fit: contain;
    width: 120.74px;
    height: 24.15px;
  }
}
