@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap");
@import "variables";
@import "navbar";
@import "reset";
@import "hero";
@import "possibility";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: white;
}

body {
  background-color: $body-color;
}

.navlist-container {
  display: none !important;
}
