//font-size

$primary-fs: 62px;
$secondary-fs: 24px;
$tertiary-fs: 20px;
$md-fs: 18px;
$base-fs: 16px;
$xsm-fs: 14px;

// colors

$primary-color: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
  #ffffff;
$secondary-color: #81afdd;
$tertiary-color: #042c54;
$footer-color: #031b34;
$button-color: rgba(255, 72, 32, 0.83);
$button-hover-color: rgba(255, 72, 32, 1);
$body-color: #040c18;

// font-weight

$primary-weight: 800;
$secondary-weight: 700;
$tertiary-weight: 500;
$md-weight: 400;
